<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>

<div class="container-fluid text-center">

    {{#each posts }}
        <div class="jumbotron">
            <div>by
                <b>{{ this.author  }}</b>
                on
                <small>{{ this.posted_at }}</small>
            </div>

            <div>
                <p>{{ this.text }}</p>
            </div>

            <div class="row">
                <button onclick="actOnPost(event);"
                        data-post-id="{{ this.id }}">Like
                </button>
                <span id="likes-count-{{ this.id }}">{{ this.likes_count }}</span>
            </div>
        </div>
    {{/each}}

</div>
</body>
</html>